
// Font.
$font: (
  primary: ("Karla",sans-serif),
  monospace: (Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace)
);

// Palette.
$palette: (
  charcoal:          #24115d,
  charcoal-light-3:  lighten(#24115d, 3%),
  charcoal-light-7:  lighten(#24115d, 7%),
  charcoal-light-15: lighten(#24115d, 15%),
  charcoal-light-25: #7c43a8,
  charcoal-light-40: lighten(#24115d, 40%),
  charcoal-light-60: lighten(#24115d, 60%),
  charcoal-light-75: lighten(#24115d, 75%),
  charcoal-light-80: lighten(#24115d, 8%),
  charcoal-dark-15:  darken(#24115d, 15%),
  accent:            #7c43a8,
  accent-blue:       #0c8aea,
  accent-green:      #0da5b1,
  accent-violet:     #d5d2f8,
  accent-yellow:     #ed9700
);

@import "imports/functions";
@import "imports/reset";
@import "imports/general";
@import "imports/buttons";
@import "imports/icons";
@import "imports/forms";
@import "imports/helpers";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/posts-pages";
@import "imports/portfolio";
@import "imports/sections";
@import "imports/footer";
@import "imports/banner";
