
// Font.
$font: (
  primary: ("Karla",sans-serif),
  monospace: (Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace)
);

// Palette.
$palette: (
  charcoal:          #2a273f,
  charcoal-light-3:  lighten(#2a273f, 3%),
  charcoal-light-7:  lighten(#2a273f, 7%),
  charcoal-light-15: lighten(#2a273f, 15%),
  charcoal-light-25: #393552,
  charcoal-light-40: lighten(#2a273f, 40%),
  charcoal-light-60: lighten(#2a273f, 60%),
  charcoal-light-75: lighten(#2a273f, 75%),
  charcoal-light-80: lighten(#2a273f, 8%),
  charcoal-dark-15:  #232136,
  accent:            #ea9a97,
  accent-blue:       #3e8fb0,
  accent-green:      #9ccfd8,
  accent-violet:     #c4a7e7,
  accent-yellow:     #f6c177
);

@import "imports/functions";
@import "imports/reset";
@import "imports/general";
@import "imports/buttons";
@import "imports/icons";
@import "imports/forms";
@import "imports/helpers";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/posts-pages";
@import "imports/portfolio";
@import "imports/sections";
@import "imports/footer";
@import "imports/banner";
